/* ----------------------------------------------------------------------------------------------- */
/**general style**/
/* ----------------------------------------------------------------------------------------------- */
.about, .project, .project-clicked, .about-clicked, .secret-tab {
    background-color: transparent;
    --padding-value: 2em;
}
.project-clicked, .about-clicked {
    --tab-title-color: var(--primary-color);
    --tab-title-color-inner: var(--primary-color-light);
}
.secret-tab, .project, .about {
    --tab-title-color: var(--secondary-color);
    --tab-title-color-inner: var(--secondary-color);
}
.tab-spin-title {
    h3 {
        padding-left: 0.9em;
        user-select: none;
    }
}
.tab-content {
    padding: var(--padding-value);
    img {
        width: 100%;
        border-radius: 0.1em;
    }
}
/* ----------------------------------------------------------------------------------------------- */
/**special typo for titles**/
/* ----------------------------------------------------------------------------------------------- */
.project, .about, .about-clicked, .project-clicked {
    h3 {
        text-transform: capitalize;
        word-spacing: -0.6em;
    }
}
.about, .about-clicked {
    h3::before {
        content: "./";
    }
}
.project, .project-clicked {
    h3::before {
        content: "./project_ ";
    }
}
.secret-tab {
    h3::before {
        content: ".";
    }
}
/* ----------------------------------------------------------------------------------------------- */
/**spinning animation**/
/* ----------------------------------------------------------------------------------------------- */
.flip-card-container {
    width: 100%;
    height: 100%;
}
.flip-card-recto, .flip-card-verso {
    cursor: pointer;
    padding: 0.2em;
    width: 100%;
    height: min-content;
    transition-delay: 200ms;
    &:hover {
        box-shadow: inset 0 0 64px 64px var(--tab-title-color-inner);
        transition: 0.8s;
        background-color: var(--tab-title-color-inner);
    }
}
.flip-card-verso {
    border-radius: var(--radius-value);
    border: solid 7px var(--tab-title-color);
}
.flip-card-recto {
    border-radius: var(--reverse-radius-value);
    transform: rotateY(180deg);
    border: solid 7px var(--tab-title-color);
    background-color: var(--tab-title-color);
}
/* ----------------------------------------------------------------------------------------------- */
/**style of elements**/
/* ----------------------------------------------------------------------------------------------- */
.tab-tech {
    padding: .5em;
    display: flex;
    gap: 2em;
    justify-content: center;
    
    div {
        border: solid 0.2em var(--primary-color);
        /* background-color: var(--secondary-color); */
        /* background-image: radial-gradient(closest-side at 23%, var(--secondary-color), transparent 99%); */
        border-radius: 1.5em;
        font-size: 0.8em;
        line-height: 0.1em;
        padding-left: 1ch;
        padding-right: 1ch;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        gap: 0.5em;

        img {
            height: 1.3em;
            color: #3c873a;
        }
    }
}
.tab-links {
    padding: var(--padding-value);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 1em;

    a {
        line-height: 2em;
    }
}
/* ----------------------------------------------------------------------------------------------- */
/**style of elements : FORM**/
/* ----------------------------------------------------------------------------------------------- */
.contact-form {
    height: min-content;
    padding: 1em;
    display: flex;
    flex-flow: column nowrap;
    gap: 1em;
    div {
        padding-bottom: 0.3em;
        display: flex;
        flex-flow: column nowrap;
        gap: 0.4em;
        div {
            display: flex;
            flex-flow: row nowrap;
            justify-content: stretch;
            gap: 0.5em;
        }
    }
    textarea {
        resize: none;
    }
    input, textarea {
        min-height: 4em;
        width: 100%;
        padding: 0.5em;
        border-radius: var(--single-radius-value);
        
        border: solid 0.1em var(--secondary-color);
        background-color: var(--bg-color);
        color: var(--txt-color);
        &:hover, &:active, &::content {
            background-color: var(--primary-color);
        }
    .message {
        height: 100ch;
        
    }
    }
}
.send-button {
    align-self: center;
    width: 30%;
    padding: 0.5em;
    border-radius: var(--single-radius-value);
    background-color: var(--primary-color);

    &:hover {
        filter: brightness(1.2);
    }
    &:active {
        filter: brightness(0.8);
    }
} 