/*================================================================================================*/
/** Style reset **/
/*================================================================================================*/
:root {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* overflow: hidden; */
  scroll-behavior: smooth;
}
* {
  list-style: none;
  list-style-type: none;
  text-decoration: none;

  label, button {
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: none;
  }
  
  a {
    cursor: pointer;
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
    &:active {
        text-decoration: none;
    }
  }
}
/*================================================================================================*/
/** Custom properties **/
/*================================================================================================*/
:root {
  --title-font: "Consolas";
  --text-font: "Montserrat";
  
  --single-radius-value: 0.5em;
  --radius-value: 1.5em 0.5em 1.5em 1.5em;
  /* --radius-value : 20px 5px 20px 20px; */
  --reverse-radius-value: 0.5em 1.5em 1.5em 1.5em;
  --radius-link : 1.5em;
  --border-weight: 1em;
  --padding-value: 0.5em;
  
  --animate-duration: 0.8s;
}
:root[data-theme="light"] {
  --bg-color: #F5F5F5;
  --txt-color: #1A1B25;
  --primary-color: #2CA6A4;
  --primary-color-light: #3fccca;
  --secondary-color: #A3ADAA;
  --tertiary-color: #A54657;    
}
:root[data-theme="dark"] {
  --bg-color: #1A1B25 ;
  --txt-color: #F5F5F5;
  --primary-color: #2ca6a4;
  --primary-color-light: #2ca5a3;
  --secondary-color: #A4AEAB;
  --tertiary-color: #D20F2A;
}